.timeline-markers-container {
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  width: 100%;
  height: 18px;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 2;
}

.timeline-marker {
  position: absolute;
  top: 50%;
  color: var(--color-primary);
  fill: var(--color-primary);
  pointer-events: auto;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
